html{
    font-size: 4vmin;
}

body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-size: 0;
}

header{
    text-align: center;
    width: 100%;
    height: 17.8%;
    color: white;
    box-sizing: border-box;
}

header img{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: pacmanFont;
    src: url(Games.ttf);
}

@font-face {
    font-family: pressFont;
    src: url(PressStart2P.ttf);
}

.main-section{
    width: 100%;
}

.stats{
    vertical-align: top;
    display: inline-block;
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
    padding: 10px;
    width: 15%;
    box-sizing: border-box;
}

.title{
    display: inline-block;
    width: 10%;
    font-family: pacmanFont;
    height: 100%;
    background-color: black;
    vertical-align: top;
}

.title div{
    color: white;
    height: 100%;
    width: 2rem;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    padding: 20%;
}

.label{
    font-family: pressFont;
    font-size: 0.3rem;
    padding: 15px;
}


.reset{
    text-align: center;
    padding: 10px;
    width: 5vw;
}

.message{
    position: absolute;
    font-family: pressFont;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.machine{
    width: 75%;
    height: 100%;
    display: inline-block;
    font-size: 0;
    text-align: center;
}

.gameArea{
    display: inline-block;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.gameArea0{
    border-left: 6.1vw solid;
    border-right: 6.1vw solid;
    border-color: black;
    display: inline-block;
    width: 83.9%;
    height: 66%;
}

.gameArea1{
    border-left: 2.11vw solid;
    border-right: 2.6vw solid;
    border-color: #d200ff;
    display: inline-block;
    width: 92.5%;
    height: 100%;
}

.gameArea2{
    border-top: 1.5vh solid;
    border-bottom: 1.5vh solid;
    border-left: 2.8vw solid;
    border-right: 2.2vw solid;
    border-color:  #191919;
    background-color: #191919;
    width: 92%;
    height: 96%;
}

.gameArea3{
    border-top: 1.5vh solid;
    border-bottom: 1.5vh solid;
    border-left: 1vw solid;
    border-right: 1vw solid;
    border-radius: 30px;
    border-color: #252526;
    background-color: #252526;
    width: 95%;
    height: 90%;
}

.row{
    width: 100%;
    height: 32%;
    padding: 2%;
    box-sizing: border-box;
}

.card{
    position: relative;
    display: inline-block;
    margin: 1.5%;
    width: 13.6%;
    height: 97%;
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 82%;
    border: 3px solid;
    border-radius: 5px;
    padding: 10%;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 82%;
    background-image: url("image/arcade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: cadetblue;
    border: 3px solid;
    border-radius: 5px;
    padding: 10%;
}

.hidden > .back{
    display: none;
}

.message.hidden{
    display: none;
}

footer{
    text-align: center;
    width: 100%;
    height: 16.2%;
}

footer img{
    width: 100%;
    height: 100%;
}

