html{
    font-size: 4vmin;
}

body{
    width: 100vw;
}

header{
    text-align: center;
    width: 100%;
    background-color: #122b40;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-family: packmanFont;
    font-size: 1rem;
}

@font-face {
    font-family: packmanFont;
    src: url(Games.ttf);
}

@font-face {
    font-family: press;
    src: url(PressStart2P.ttf);
}

.main-section{
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
}

.stats{
    vertical-align: top;
    display: inline-block;
    background-color: #122b40;
    color: white;
    height: 100%;
    text-align: center;
    padding: 15px;
}

.label{
    font-size: 30px;
    padding: 15px;
}

.value{

}

.reset{
    text-align: center;
    padding: 10px;
}

.gameArea{
    margin: auto;
    display: inline-block;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
}

.gameArea1{
    position: relative;
    border-left: 70px solid;
    border-right: 70px solid;
    border-color: #d200ff;
    display: inline-block;
}

.message{
    position: absolute;
    font-family: press;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

}

.gameArea2{
    border-top: 40px solid;
    border-bottom: 40px solid;
    border-left:100px solid;
    border-right: 100px solid;
    border-color:  #191919;
    background-color: #191919;
}

.gameArea3{
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-left:40px solid;
    border-right: 40px solid;
    border-radius: 30px;
    border-color: #252526;
    background-color: #252526;
}

.card{
    position: relative;
    display: inline-block;
    margin: 25px;
    width: 110px;
    height: 157px;
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 82%;
    border: 3px solid;
    border-radius: 5px;
    padding: 10%;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 82%;
    background-image: url("image/arcade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: cadetblue;
    border: 3px solid;
    border-radius: 5px;
    padding: 10%;
}

.hidden > .back{
    display: none;
}

@keyframes fadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

#cf3 img.top {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}